html, body {
    width: 100%;
    min-height: 100%;
    z-index: 1;
}

body {
    overflow: auto;
    font-size: 87.5%;
    line-height: 1.5;
    color: $text-color;
    background-color: $body-background-color;
}

.page {
    position: absolute;
    width: 100%;
    min-height: 100%;

    &-header {
        position: relative;
        width: 100%;
        @include clearfix;
        z-index: 1000;

        &__wrapper {
            overflow: auto;
            float: right!important;
        }
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}