$text-color: #5f6368;
$body-background-color: #f1f3f4;
$menu-background-color: #00C853;

$animation-effect-1: ease-in;
$animation-duration-slow: 300ms;

$tf-background-color: #DCDCDC;
$tf-border-color: #7F7F7F;
$tf-border-color-focus: #6200EE;
$tf-border-color-error: #B00020;
$tf-text-color: #6D6D6D;
$tf-text-color-focus: #1C1C1C;
$tf-label-text-color: #6200EE;
$tf-label-text-color-error: #B00020;
$tf-text-color-error: #B00020;

$button-background-color: #DCDCDC;
$button-box-shadow-color: #DCDCDC;
$button-background-color-p: #00C853;

$dt-wrapper-background-color: white;
$dt-wrapper-box-shadow-color: #DCDCDC;
$dt-name-color: #212121;
$dt-header-color: #666666;
$dt-value-color: #212121;
$dt-border-color: #E0E0E0;

$devider-color: #E0E0E0;

$link-color: #00C853;